{% extends 'base.html.twig' %} {% block title %}SymRecipe - Mes ingrédients!{%
endblock %} {% block body %}

<div class="container mt-4">
  <h1>Mes ingrédients:</h1>

  <a href="{{ path('app_ingredient_new') }}" class="btn btn-primary"
    >Ajouter un ingrédient
  </a>

  {% for message in app.flashes('success') %}
  <div class="alert alert-success mt-4">
    {{ message }}
  </div>
  {% endfor %} {% if not ingredients.items is same as([]) %}
  <div class="count mt-4 h4">
    Il y'a {{ ingredients.getTotalItemCount }}
    ingrédients au total.
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prix</th>
        <th scope="col">Date de Création</th>
        <th scope="col">Edition</th>
        <th scope="col">Suppression</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in ingredients %}
      <tr class="table-primary mt-4">
        <th scope="row">{{ ingredient.id }}</th>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.price }}</td>
        <td>{{ ingredient.createdAt|date('d/m/Y') }}</td>
        <td>
          <a
            href="{{ path('app_ingredient_edit', { id: ingredient.id }) }}"
            class="btn btn-info"
            ><i class="fa-solid fa-pen-to-square"></i
          ></a>
        </td>
        <td>
          <a
            href="{{ path('app_ingredient_delete', { id: ingredient.id }) }}"
            class="btn btn-danger"
            onclick="return confirm('Vous voulez bien supprimer cet ingrédient ?');"
            ><i class="fa-solid fa-trash-can"></i
          ></a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  {# display navigation #}
  <div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(ingredients) }}
  </div>
  {% else %}
  <h1>Il y'a pas d'ingrédients!</h1>

  {% endif %}
</div>

{% endblock %}
