{% extends "base.html.twig" %} {% block title %} SymRecipe - Accueil {% endblock
%} {% block body %}

<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4">Bienvenue sur SymRecipe!</h1>
    <p class="lead">
      SymRecipe est une application qui permet de créer des recettes à base
      d'ingrédients que tu aura toi méme créer tu pourras partager tes recettes
      pour la communauté de site, ou bien les garder en privée.
    </p>
    <hr class="my-4" />
    <p>
      Pour commencer rendez-vous sur la page d'inscription pour utliser
      l'application.
    </p>
    <a
      class="btn btn-primary btn-lg"
      href="{{ path('app_security_register') }}"
      role="button"
      >Inscription</a
    >
  </div>
</div>

<div class="recipes container">
  <h2 class="mt-4">Recette de la communauté</h2>

  <div class="d-flex justify-content-between flex-wrap">
    {% for recipe in recipes %}
    <div class="card border-primary mb-3" style="max-width: 20rem">
      <div class="card-header">Recette n° {{ recipe.id }}</div>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ path('app_recipe_show', { id: recipe.id }) }}">{{
            recipe.name
          }}</a>
        </h4>
        <p class="card-text">
          {{ recipe.description| slice(0, 100) ~ '...' }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
