{% extends 'base.html.twig' %} {% block title %}SymRecipe - Mes Recettes!{%
endblock %} {% block body %}

<div class="container mt-4">
  <h1>Mes Recettes:</h1>
  <a href="{{ path('app_recipe_new') }}" class="btn btn-primary"
    >Ajouter une recette
  </a>
  {% if not recipes.items is same as([]) %} {% for message in
  app.flashes('success') %}
  <div class="alert alert-success">
    {{ message }}
  </div>
  {% endfor %} {# {% for message in app.flashes('success') %}
  <div class="alert alert-success mt-4">
    {{ message }}
  </div>
  {% endfor %} #}
  <div class="count mt-4 h4">
    Il y'a {{ recipes.getTotalItemCount }}
    Recettes au total.
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prix</th>
        <th scope="col">Difficulté</th>
        <th scope="col">Date de Création</th>
        <th scope="col">Edition</th>
        <th scope="col">Suppression</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
      <tr class="table-primary mt-4">
        <th scope="row">{{ recipe.id }}</th>
        <td>{{ recipe.name }}</td>
        <td>{{ recipe.price != null ? recipe.price : "Non rensigné" }}</td>
        <td>
          {{ recipe.difficulty != null ? recipe.difficulty : "Non rensigné" }}
        </td>
        <td>{{ recipe.createdAt|date('d/m/Y') }}</td>

        <td>
          <a
            href="{{ path('app_recipe_edit', { id: recipe.id }) }}"
            class="btn btn-info"
            ><i class="fa-solid fa-pen-to-square"></i
          ></a>
        </td>

        <td>
          <a
            href="{{ path('app_recipe_delete', { id: recipe.id }) }}"
            class="btn btn-danger"
            onclick="return confirm('Vous voulez bien supprimer cette recette ?');"
            ><i class="fa-solid fa-trash-can"></i
          ></a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  {# display navigation #}
  <div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(recipes) }}
  </div>
  {% else %}
  <h1>Il y'a pas de recettes!</h1>

  {% endif %}
</div>

{% endblock %}
